<div>
    <a href="{{ path('user_account_token_create') }}" role="button">Create token</a>
</div>

<table>
    <thead>
    <tr>
        <th scope="col">Token</th>
        <th scope="col">RSS link</th>
        <th scope="col">Created</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for token in tokens %}
    <tr>
        <th scope="row">
            <code>{{ token.key }}</code>
        </th>
        <td>
            <input type="text" value="{{ url('api_v1_rss_last') }}?{{ {'api-token': token.key} | url_encode }}" readonly onclick="this.select();">
        </td>
        <td>
            {{ token.createdAt | date('Y-m-d H:i:s') }}
        </td>
        <td>
            <a href="{{ path('user_account_token_revoke', {'key': token.key}) }}" role="button" onclick="return confirm('Are you sure?')">Revoke</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>