<!doctype html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mangetico database web interface">
    <meta name="author" content="Alexey Skobkin">
    {% endblock %}

    <title>{% block title %}Magnetoco Web{% endblock %}</title>

    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('index') }}"><i class="icon-magnet"></i> Magnetico Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
                        <i class="icon-user"></i> {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu">
                        <a href="{{ path('user_account_invites') }}" class="dropdown-item"><i class="icon-group"></i> Invites</a>
                        <a href="{{ path('user_logout') }}" class="dropdown-item"><i class="icon-signout"></i> Logout</a>
                    </div>
                </li>
            </ul>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
        <form class="form-inline my-2 my-lg-0" action="{{ path('torrents_search') }}" method="get">
            <input name="query" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                   value="{% if searchQuery is defined %}{{ searchQuery }}{% endif %}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="icon-search"></i> Search</button>
        </form>
        {% endif %}
    </div>
</nav>

<main id="content" role="main" class="container">
    {% block content %}{% endblock %}
</main><!-- /.container -->

{% block javascript %}
<script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
