{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <!-- BSTreeView plugin -->
    <link href="{{ asset('assets/bstreeview/css/bstreeview.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <!-- BSTreeView plugin -->
    <script src="{{ asset('assets/bstreeview/js/bstreeview.min.js') }}"></script>
{% endblock %}

{% block content %}
    {# @var torrent \App\Magnetico\Entity\Torrent #}
    <table class="table">
        <tr>
            <td>Name</td>
            <td>{{ torrent.name }}</td>
        </tr>
        <tr>
            <td>Magnet</td>
            <td>
                <a href="{{ magnet(torrent.infoHash, torrent.name) }}"><code>{{ torrent.infoHash }}</code></a>
                (<a href="{{ path('magnet_redirect', {'infoHash': torrent.infoHash}) }}">Redirect</a>)
            </td>
        </tr>
        <tr>
            <td>Size</td>
            <td><abbr title="{{ torrent.totalSize }} bytes">{{ torrent.totalSize | humanize_size }}</abbr></td>
        </tr>
        <tr>
            <td>Discovered</td>
            <td>{{ torrent.discoveredOn | date('Y-m-d H:i:s')}}</td>
        </tr>
    </table>

    {% include 'torrent_files.html.twig' with {'torrent': torrent} only %}
{% endblock %}