{% extends 'base.html.twig' %}

{% block content %}
    <table class="table">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Discovered</th>
        <th scope="col">Files</th>
        </thead>
        {# @var torrent \App\Entity\\App\Entity\Torrent #}
        {% for torrent in torrents %}
        <tr>
            <td>{{ torrent.id }}</td>
            <td>
                <a href="magnet:?xt=urn:btih:{{ torrent.infoHashAsHex }}&dn={{ torrent.name|url_encode }}">{{ torrent.name }}</a>
            </td>
            <td>{{ torrent.totalSize }}</td>
            <td>{{ torrent.discoveredOn }}</td>
            <td>
                {#
                <ul>
                    {% for file in torrent.files %}
                        <li>{{ file.path }}</li>
                    {% endfor %}
                </ul>
                #}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}